---
import { Image } from "astro:assets";
import Riandhika_680 from "../Riandhika_680.webp";
import { SectionTitle } from "./UI";
---

<section id="about" class="w-full min-h-screen px-6 py-4 pt-14 bg-background">
    <SectionTitle
        title="About Me"
        color="primary"
        className="h-screen flex flex-col justify-center"
    >
        <div class="flex_center flex-col lg:flex-row w-full h-full py-10 gap-8">
            <Image
                src={Riandhika_680}
                alt="About_Avatar"
                class="Fade_Up rounded-xl scale-x-[-1] lg:mx-14"
                width={225}
                height={225}
                loading="lazy"
            />

            <div
                class="Fade_Up w-full md:w-[80%] lg:w-[60%] flex justify-center items-start flex-col gap-4 lg:border-l border-primary py-8 lg:pl-10"
            >
                <h2 class="Fade_Up text-[1.5em] font-bold">Hey there!</h2>
                <p class="Fade_Up text-justify">
                    I'm Riandhika, a passionate Junior MERN Stack Developer who
                    loves building applications that solve real-world problems
                    and make life a little easier.
                </p>
                <p class="Fade_Up text-justify">
                    I thrive on learning new technologies, experimenting with
                    modern tools, and turning ideas into clean, scalable, and
                    user-friendly products. My projects range from data-driven
                    backends to sleek, interactive frontends, always with a
                    focus on performance and usability.
                </p>
                <p class="Fade_Up text-justify">
                    If you're looking for a developer who’s curious, committed,
                    and eager to collaborate, let's work together and bring your
                    vision to life!
                </p>
            </div>
        </div>
    </SectionTitle>
</section>
