---
import { SectionTitle } from "./UI";
import { ContactForm } from "./Preact";
---

<section
    id="contact"
    class="w-full min-h-screen mb-16 lg:mb-[15em] px-6 py-4 pt-14 bg-background"
>
    <SectionTitle title="Contact" color="primary" align="left" />

    <!-- <div class="w-full flex_center flex-col p-4 text-[1.2em] text-center">
        <h3
            class="Fade_Up gradientText font-ortbitron text-[2rem] lg:text-[2.4rem]"
        >
            Reach Me Out
        </h3>
        <p class="Fade_Up">Discuss Web Developments Needs</p>
    </div> -->

    <div class="flex_center w-full h-full pt-8 pb-16">
        <ContactForm client:load />
    </div>
</section>
