.Cursor-Main #cursor {
    position: fixed;
    inset: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: var(--cursorColor);
    box-shadow: 0 0 15px 0 var(--cursorColorAlt);
    pointer-events: none;
    will-change: transform;
    backface-visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.Cursor-Main #cursorDot {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    opacity: 0;
    pointer-events: none;
    background-color: var(--dotColor);
    backface-visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

body:hover #cursor,
body:hover #cursorDot {
    opacity: 1;
    transform: scale(1);
}

:has(a:hover, button:hover, input:hover, textarea:hover) #cursor,
:has(a:hover, button:hover, input:hover, textarea:hover) #cursorDot {
    opacity: 0;
    transform: scale(0.6);
}