---
type Props = {
    title: string;
    classname?: string;
    color?: "primary" | "secondary";
};

const { title, classname, color }: Props = Astro.props;
---

<div
    class={`Fade_Up Title-Tag-About flex_center text-[1.6em] md:text-[1.8em] lg:text-[2em] mb-4 ${color} ${classname}`}
>
    <div class="h-1 w-[20px] bg-primaryLite mr-1 align-middle"></div>
    <p>{title}</p>
    <div class="h-1 w-[20px] bg-primaryLite ml-1 align-middle"></div>
</div>
